.cards__header {
  text-align: center;
  color: rgb(255, 255, 255);
}
.cards {
  background: rgb(52, 90, 128);
  margin-top: 30px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 50px);
  gap: 15px 20px;
}

.cards__question {
  background: rgb(64, 100, 136);
  text-align: center;
  color: white;
  height: fit-content;
  width: auto;
  margin-top: 0px;
}

.cards__answer-button {
  color: white;
  font-size: larger;
  font-weight: bold;
  background: rgb(255, 146, 36);
  border-radius: 50px;
}

.cards__tags {
  background: rgb(192, 192, 192);
  border-radius: 5px;
  padding: 10px;
  color: rgb(52, 90, 128);
  width: auto;
  height: fit-content;
}

.cards__item1 {
  grid-column: 2/4;
  text-align: center;
  color: white;
}

.cards__item2 {
  grid-column: 1/-1;
}

.cards__item3 {
  grid-column: 2/4;
}

.cards__item4 {
  grid-column: 1/2;
}
