.cards__header {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: larger;
}

.cards {
  background: rgb(52, 90, 128);
  width: 270px;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0px 1px 5px;
  font-family: Poppins;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__title {
  text-align: center;
  color: white;
}

.cards__question {
  background: rgb(64, 100, 136);
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
  text-align: center;
  color: white;
  height: fit-content;
  margin: -10px;
}

.cards__answer-button {
  color: white;
  height: 40px;
  background: rgb(255, 146, 36);
  border-radius: 50px;
  font-family: Poppins;
  font-weight: bolder;
  position: relative;
  margin-top: 30px;
}

.cards__answer {
  background-color: rgb(64, 100, 136);
  border-radius: 20px;
  margin: 20px 0px;
  color: white;
  padding: 0 10px;
}

.cards__tags {
  display: flex;
  flex-direction: row;
}

.tags {
  background: rgb(192, 192, 192);
  border-radius: 5px;
  border: 0;
  color: rgb(52, 90, 128);
  font-family: Poppins;
  font-size: 12px;
  height: fit-content;
  width: 50px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.cards__bookmark {
  height: 45px;
  position: absolute;
  top: -5px;
  right: 0;
}

.cards__bookmark--active {
  height: 45px;
  position: absolute;
  top: -5px;
  right: 0;
  filter: invert(100%);
}

.cards__item1 {
  grid-column: 2/4;
}

.cards__item2 {
  grid-column: 1/-1;
}

.cards__item3 {
  grid-column: 2/4;
}

.cards__item4 {
  grid-column: 1/2;
}
