.cards__header {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: larger;
}

.cards {
  background: rgb(52, 90, 128);
  width: 270px;
  height: 200px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px;
  font-family: Poppins;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit);
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 50px);
  gap: 1px 5px;
  align-items: center;
}

.cards__title {
  text-align: center;
  color: white;
}

.cards__question {
  background: rgb(64, 100, 136);
  font-style: italic;
  text-align: center;
  color: white;
  height: fit-content;
  margin: 10px;
}

.cards__answer-button {
  color: white;
  height: 40px;
  background: rgb(255, 146, 36);
  border-radius: 50px;
  position: relative;
  bottom: -8px;
}

.cards__tags {
  background: rgb(192, 192, 192);
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  color: rgb(52, 90, 128);
  height: fit-content;
  width: fit-content;
  justify-self: center;
}

.cards__bookmark--absolute {
  height: 45px;
  position: absolute;
  top: -5px;
  right: 0;
}

.cards__item1 {
  grid-column: 2/4;
}

.cards__item2 {
  grid-column: 1/-1;
}

.cards__item3 {
  grid-column: 2/4;
}

.cards__item4 {
  grid-column: 1/2;
}
