.create {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__create {
  background: rgb(52, 90, 128);
  width: 95%;
  height: 80%;
  padding: 5px 20px;
  border-radius: 20px;
  box-shadow: 0px 1px 5px;
  font-family: Poppins;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create__question {
  background-color: rgb(64, 100, 136);
  width: 100%;
  border: 1px solid white;
  color: white;
  letter-spacing: 2px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.create__tags--flex {
  display: flex;
  gap: 10px;
}

.create__tags {
  background-color: rgb(128, 128, 128);
  width: 25%;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  color: white;
  text-align: center;
}

.create__submit-button {
  color: white;
  height: 40px;
  width: 100px;
  background: rgb(255, 146, 36);
  border-radius: 50px;
  font-family: Poppins;
  font-weight: bolder;
  position: relative;
  bottom: -8px;
  border: none;
  position: absolute;
  bottom: 20px;
}
