.footer {
  background: rgb(52, 90, 128);
  width: 100%;
  box-shadow: 0px 0px 5px;
}

.footer__navigation {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navigation__icons {
}
