.header {
  background: rgb(200, 200, 200);
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 1px 5px;
}

.header__title {
  color: rgb(52, 90, 128);
  font-family: Londrina Solid;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: rgb(110, 110, 110) 0px 2px 6px;
}
