.cards__tags:hover {
  background-color: rgb(168, 167, 167);
  color: white;
}

.cards__answer-button:hover {
  background: rgb(138, 171, 187);
  color: white;
  transform: scale(1.1);
}

.create__submit-button:hover {
  background: rgb(138, 171, 187);
  color: white;
  transform: scale(1.1);
}

.cards__bookmark:hover {
  transform: scale(1.1);
}

.navigation__icons:hover {
  transform: scale(1.1);
}
