* {
  box-sizing: border-box;
}

body {
  background: rgb(138, 171, 187);
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 55px auto 58px;
  height: 100vh;
}

main {
  margin: 0px 25px;
}
