@import url(./base.css);

@import url(./components/button.css);
@import url(./components/card.css);
@import url(./components/footer.css);
@import url(./components/header.css);
@import url(./components/link.css);
@import url(./components/utility.css);
@import url(./components/main.css);
@import url(./components/hover.css);

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Poppins:wght@300&family=Roboto+Slab:wght@200&display=swap');

.hidden {
  display: none;
}

.active {
  background: rgb(44, 77, 110);
}
